[submodule "vim/pack/newellista/start/vim-ruby"]
	path = vim/pack/newellista/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/pack/newellista/start/vim-elixir"]
	path = vim/pack/newellista/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/pack/newellista/start/vim-mkdir"]
	path = vim/pack/newellista/start/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir.git
[submodule "vim/pack/newellista/start/vim-airline"]
	path = vim/pack/newellista/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "iterm2/palenight-iterm2"]
	path = iterm2/palenight-iterm2
	url = https://github.com/JonathanSpeek/palenight-iterm2.git
[submodule "iterm2/iterm2-gruvbox"]
	path = iterm2/iterm2-gruvbox
	url = https://github.com/herrbischoff/iterm2-gruvbox.git
[submodule "vim/pack/newellista/start/vim-airline-themes"]
	path = vim/pack/newellista/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/newellista/start/vim-endwise"]
	path = vim/pack/newellista/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim-eunuch"]
	path = vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/newellista/start/vim-eunuch"]
	path = vim/pack/newellista/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/newellista/start/vim-matchit"]
	path = vim/pack/newellista/start/vim-matchit
	url = https://github.com/adelarsq/vim-matchit.git
[submodule "vim/pack/newellista/start/vim-go"]
	path = vim/pack/newellista/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/newellista/start/emmet-vim"]
	path = vim/pack/newellista/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/pack/newellista/start/ctrlp"]
	path = vim/pack/newellista/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/newellista/start/minimalist"]
	path = vim/pack/newellista/start/minimalist
	url = https://github.com/dikiaap/minimalist.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/pack/newellista/start/vim-obsession"]
	path = vim/pack/newellista/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/pack/newellista/start/vim-ripgrep"]
	path = vim/pack/newellista/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "vim/pack/newellista/start/vim-terraform"]
	path = vim/pack/newellista/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
