[user]
	name = Steve Newell
	email = steve.newell@lvt.com
[alias]
	st = status -sb
  ci = commit
  co = checkout
  br = branch
[core]
  editor = vim
	excludesfile = /Users/steve.newell/.gitignore
[format]
  pretty = oneline
[merge]
  tool = opendiff
[push]
	autoSetupRemote = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
